{% extends 'base.html.twig' %}
    {% block OneContent %}
        {% for article in articles %}
            {% if article.enabled == true %}
                <article>
                    <header>
                        <h1>{{ article.id }} - {{ article.title|upper }}</h1>
                    </header>
                    <p> {{ article.content }} </p>
                    <footer>
                        {% if article.created_at !='0000-00-00 00:00:00' %}
                            <time datetime="{{ article.created_at|date('c') }}">{{ article.created_at|date('d-m-Y') }}</time>
                        {% endif %}
                    </footer>
                </article>
            {% endif %}
        {% endfor %}
    {% endblock %}